[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-filter = "*"
django-heroku = "*"
djangoql = "*"
djangorestframework = "*"
pyjwt = "==2.1.0"
psycopg2 = "*"
drf-yasg = "*"
gunicorn = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
ipython = "*"
pre-commit = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
